[submodule "pvl"]
	path = pvl
	url = https://github.com/pavelsevecek/pvl.git
	branch = master
[submodule "sun-sky"]
	path = sun-sky
	url = https://github.com/andrewwillmott/sun-sky.git
[submodule "LAStools"]
	path = LAStools
	url = https://github.com/LAStools/LAStools.git
