[submodule "pvl"]
	path = pvl
	url = https://github.com/pavelsevecek/pvl.git
	branch = master
[submodule "oidn"]
	path = oidn
	url = https://github.com/OpenImageDenoise/oidn.git
[submodule "sun-sky"]
	path = sun-sky
	url = https://github.com/andrewwillmott/sun-sky.git
